APP_NAME=ChatBot

FRONTEND_URL=http://localhost:85/

SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_publishable_key_here

PORT=3000
MONGO_URL=mongodb://mongo:27017/backend  # docker -> mongo. localhost
JWT_SECRET=your_jwt_secret_here

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=null
MAIL_PASS=null
MAIL_FROM=backeng@backend.es

LLM_PROVIDER=your_llm_provider_here
EMBEDDING_PROVIDER=your_embedding_provider_here

GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=your_groq_model_here

GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_MODEL=your_google_model_here
GOOGLE_EMBEDDING_MODEL=your_google_embedding_model_here